@charset "UTF-8";
/* ===================================================================
CSS information

 file name  : common.css
 author     : Ability Consultant
 style info : 基本・共通設定
=================================================================== */
.wrap {
	max-width: 1170px;
	margin: auto;
}

@media only screen and (max-width: 1170px) {
	.wrap {
		width: 95%;
	}
}

.wrap:after {
	content: "";
	display: table;
	clear: both;
}

/* -----------------------------------------------------------
	基本設定、リンクカラーなど
----------------------------------------------------------- */
/* ===================================================================
CSS information

 file name  : print.css
 author     : Ability Consultant
 style info : 印刷用
=================================================================== */
.wrap {
	max-width: 1170px;
	margin: auto;
}

@media only screen and (max-width: 1170px) {
	.wrap {
		width: 95%;
	}
}

.wrap:after {
	content: "";
	display: table;
	clear: both;
}

html {
	font-size: small;
	line-height: 1.5;
}

body {
	color: #313131;
	background: #fff;
	-webkit-text-size-adjust: none;
	font-size: 108%;
}

.ie body {
	font-size: 105%;
}

@media only screen and (max-width: 767px) {
	body {
		font-size: 100%;
	}
}

body a {
	color: #4b4b4b;
}

body a:link, body a:visited, body a:active {
	text-decoration: underline;
}

.mouse body a:hover,
.touch body a.touchstart {
	text-decoration: none;
	color: #646464;
}

body img {
	max-width: 100%;
	-webkit-touch-callout: none;
}

body, pre, input, textarea, select {
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
}

input, select, textarea {
	font-size: 100%;
}

html.ie8 .view_tab,
html.ie8 .view_tab_sp,
html.ie8 .view_sp {
	display: none !important;
}

html.ie8 #page {
	min-width: 1170px !important;
	margin: auto;
	font-size: 100% !important;
}

@media only screen and (min-width: 1171px) {
	body .view_tab-sp, body .view_tab {
		display: none !important;
	}
}

@media print {
	body .view_tab-sp, body .view_tab {
		display: none !important;
	}
}

.ie8 body .view_tab-sp, .ie8 body .view_tab {
	display: none !important;
}

@media only screen and (min-width: 768px) {
	body .view_sp {
		display: none !important;
	}
}

@media print {
	body .view_sp {
		display: none !important;
	}
}

.ie8 body .view_sp {
	display: none !important;
}

@media only screen and (max-width: 1170px) {
	body .view_pc {
		display: none !important;
	}
}

@media only screen and (max-width: 767px) {
	body .view_pc-tab, body .view_tab {
		display: none !important;
	}
}

.mouse .over {
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	-o-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;
}

.mouse .over:hover,
.touch .over.touchstart {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
}

.touch .over {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.touch .over.touchend {
	-webkit-transition-delay: 200ms;
	-moz-transition-delay: 200ms;
	-o-transition-delay: 200ms;
	transition-delay: 200ms;
}

/* -----------------------------------------------------------
	#page
----------------------------------------------------------- */
@media only screen and (min-width: 768px) {
	#page {
		font-size: 100% !important;
	}
}

@media print {
	#page {
		font-size: 100% !important;
	}
}

.ie8 #page {
	font-size: 100% !important;
}

/* ===================================================================
CSS information

 file name  : print.css
 author     : Ability Consultant
 style info : 印刷用
=================================================================== */
.wrap {
	max-width: 1170px;
	margin: auto;
}

@media only screen and (max-width: 1170px) {
	.wrap {
		width: 95%;
	}
}

.wrap:after {
	content: "";
	display: table;
	clear: both;
}

#header {
	background: #262a3a;
}

#header .wrap {
	padding: 0;
	position: relative;
	z-index: 0;
}

#header .wrap:before {
	position: absolute;
	right: 100%;
	content: "";
	background: #df0002;
	height: 100%;
	width: 1000px;
	top: 0;
	z-index: -1;
}

#header .wrap .box-logo {
	background: #df0002;
	width: 11.96581%;
	float: left;
	position: relative;
}

#header .wrap .box-logo:before {
	position: absolute;
	left: 100%;
	content: "";
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 80px 40px 0 0;
	border-color: #df0002 transparent transparent transparent;
	z-index: -1;
}

/* ===================================================================
CSS information

 file name  : print.css
 author     : Ability Consultant
 style info : 印刷用
=================================================================== */
.wrap {
	max-width: 1170px;
	margin: auto;
}

@media only screen and (max-width: 1170px) {
	.wrap {
		width: 95%;
	}
}

.wrap:after {
	content: "";
	display: table;
	clear: both;
}

.con_courses h3.st_title {
	text-align: center;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-size: 129%;
}

.con_courses h3.st_title:after {
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 130px;
	content: "";
	background: #df0002;
	left: 50%;
	margin-left: -65px;
}

.con_courses h3.st_title span {
	display: inline-block;
	position: relative;
}

.con_courses .box_courses {
	margin: 0 -15px;
	overflow: hidden;
	padding: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1170px) {
	.con_courses .box_courses {
		margin: 0 -10px;
	}
}

@media only screen and (max-width: 767px) {
	.con_courses .box_courses {
		margin: 0;
	}
}

.con_courses .box_courses .box_course {
	width: 25%;
	float: left;
	margin-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 1170px) {
	.con_courses .box_courses .box_course {
		width: 33.33%;
	}
	.con_courses .box_courses .box_course:nth-child(3n+1) {
		clear: left;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1170px) and (max-width: 767px) {
	.con_courses .box_courses .box_course:nth-child(3n+1) {
		clear: none;
	}
}

@media only screen and (max-width: 767px) {
	.con_courses .box_courses .box_course {
		width: 100%;
		border-bottom: 1px solid #f3f3f3;
		margin: 0 15px 15px 15px;
	}
}

.con_courses .box_courses .box_course:nth-child(4n+1) {
	clear: left;
}

@media only screen and (min-width: 768px) and (max-width: 1170px) {
	.con_courses .box_courses .box_course:nth-child(4n+1) {
		clear: none;
	}
}

@media only screen and (max-width: 767px) {
	.con_courses .box_courses .box_course:nth-child(4n+1) {
		clear: none;
	}
}

.con_courses .box_courses .box_course .box_course_wrap {
	padding: 0 15px;
}

@media only screen and (min-width: 768px) and (max-width: 1170px) {
	.con_courses .box_courses .box_course .box_course_wrap {
		padding: 0 10px;
	}
}

@media only screen and (max-width: 767px) {
	.con_courses .box_courses .box_course .box_course_wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		align-content: center;
		padding: 0;
	}
}

.con_courses .box_courses .box_course .box_course_wrap .box_top {
	border-radius: 5px 5px 0 0;
	position: relative;
}

@media only screen and (max-width: 767px) {
	.con_courses .box_courses .box_course .box_course_wrap .box_top {
		width: 35%;
		border-radius: 0;
	}
}

.con_courses .box_courses .box_course .box_course_wrap .box_top .photo img {
	width: 100%;
}

.con_courses .box_courses .box_course .box_course_wrap .box_top .box_name {
	position: relative;
	text-align: center;
	padding: 20px 0 25px 0;
	background: #00162e;
	color: #fff;
}

@media only screen and (max-width: 767px) {
	.con_courses .box_courses .box_course .box_course_wrap .box_top .box_name {
		display: none;
	}
}

.con_courses .box_courses .box_course .box_course_wrap .box_top .box_name img {
	position: absolute;
	left: 20px;
	top: -40px;
}

@media only screen and (max-width: 767px) {
	.con_courses .box_courses .box_course .box_course_wrap .box_top .box_name img {
		position: relative;
	}
}

.con_courses .box_courses .box_course .box_course_wrap .box_info {
	padding: 10px;
	border: 1px solid #e6e6e6;
}

@media only screen and (max-width: 767px) {
	.con_courses .box_courses .box_course .box_course_wrap .box_info {
		width: 60%;
		border: 0;
		padding: 0;
	}
}

.con_courses .box_courses .box_course .box_course_wrap .box_info .box_price {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding: 10px 0;
}

@media only screen and (max-width: 767px) {
	.con_courses .box_courses .box_course .box_course_wrap .box_info .box_price {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		align-content: center;
	}
}

.con_courses .box_courses .box_course .box_course_wrap .box_info .box_price .price {
	color: #df0002;
	font-size: 143%;
}

@media only screen and (min-width: 768px) and (max-width: 1170px) {
	.con_courses .box_courses .box_course .box_course_wrap .box_info .box_price .price {
		font-size: 115%;
	}
}

.con_courses .box_courses .box_course .box_course_wrap .box_info .box_price .price_sale {
	font-size: 12px;
	color: #c9c9ca;
	font-size: 86%;
}

@media only screen and (min-width: 768px) and (max-width: 1170px) {
	.con_courses .box_courses .box_course .box_course_wrap .box_info .box_price .price_sale {
		font-size: 72%;
	}
}

.con_courses .box_courses .box_course .box_course_wrap .box_info .box_price .price_percent {
	font-size: 14px;
	color: #df0002;
	font-size: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1170px) {
	.con_courses .box_courses .box_course .box_course_wrap .box_info .box_price .price_percent {
		font-size: 86%;
	}
}

.con_courses .box_courses .box_course .box_course_wrap .box_info .box_desc {
	border-top: 1px solid #f3f3f3;
	padding: 10px 0 5px 0;
}

@media only screen and (max-width: 767px) {
	.con_courses .box_courses .box_course .box_course_wrap .box_info .box_desc {
		border: 0;
		padding: 5px 0;
	}
}

.con_courses .box_courses .box_course .box_course_wrap .box_info .box_desc ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

@media only screen and (max-width: 767px) {
	.con_courses .box_courses .box_course .box_course_wrap .box_info .box_desc ul {
		align-items: flex-start;
	}
}

@media only screen and (max-width: 767px) {
	.con_courses .box_courses .box_course .box_course_wrap .box_info .box_desc ul li {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.con_courses .box_courses .box_course .box_course_wrap .box_info .box_desc ul li:last-child {
		display: block;
	}
}

.con_courses .box_courses .box_course .box_course_wrap .box_info .box_desc ul li a {
	text-decoration: none;
}

@media only screen and (max-width: 767px) {
	.con_courses .box_courses .box_course .box_course_wrap .box_info .box_desc ul li a {
		display: none;
	}
}

.con_courses .box_courses .box_course .box_course_wrap .box_info .box_desc ul li a i {
	color: #c9c9ca;
	margin-right: 2px;
}

.con_courses .box_courses .box_course .box_course_wrap .box_info .box_desc .star-rating {
	overflow: hidden;
	position: relative;
	width: 80px;
	height: 1.618em;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.618;
}

.con_courses .box_courses .box_course .box_course_wrap .box_info .box_desc .star-rating:before {
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	font-size: 13px;
	letter-spacing: 3px;
	content: "\2606\2606\2606\2606\2606";
	color: #ee9e13;
}

.con_courses .box_courses .box_course .box_course_wrap .box_info .box_desc .star-rating span {
	float: left;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 1.5em;
}

.con_courses .box_courses .box_course .box_course_wrap .box_info .box_desc .star-rating span:before {
	color: #ee9e13;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 13px;
	letter-spacing: 3px;
	content: "\2605\2605\2605\2605\2605";
}

/*# sourceMappingURL=../maps/common.css.map */
